@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


:root {
    --left-container: #171717;
    --title: #EDEDED;
    --active: #DA0037;
    --right-container: #2c2c2c;
    --hover: rgba(0,0,0,0.2);
    --item-border: rgba(0, 0, 0, 0.11);
    --item-tag: rgb(0, 162, 255);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--right-container);
    font-family: 'Lato', sans-serif;
}

.input-container {
    display: none;
    padding: 8px 20px;
    position: relative;
}

.input-container input {
    background-color: var(--left-container);
    border: none;
    color: white;
    caret-color: white;
    outline: none;
}

.input-container .button {
    position: absolute;
    right: 0;
    margin-right: 20px;
    color: var(--active);
    cursor: pointer;
}

.input-container .ok {
    margin-right: 60px;
}

.main {
    display: flex;
    height: 100vh;
}

/* Categories */

.left-container {
    color: white;
    width: 20%;
    background-color: var(--left-container);
}

#title {
    color: var(--title);
    text-align: center;
    margin-top: 40px;
}

#title .sec {
    color: var(--active);
}

.category-container {
    margin: 40px 0 0px;
}

.category {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 1em;
    transition: all 0.1s;
}

.category:hover {
    background-color: var(--hover);
}

.category.active {
    background-color: var(--active);
    color: var(--title);
}

.category .delete {
    color: rgb(112, 112, 112);
    font-size: 0.9em;
    transition: all 0.2s;
}

.category .btn:hover {
    color: red;
    transform: scale(1.1);
    border-radius: 50%;
}

.add-category {
    text-align: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 2em;
    color: white;
    background-color: var(--active);
    margin: 20px auto;
    border-radius: 50%;
    transition: all 0.3s;
}

.add-category:hover {
    transform: scale(1.2);
}

/* Items */

.right-container {
    color: white;
    margin: 0px 100px 0px;
    background-color: var(--right-container);
    width: 80%;
}

#active-category {
    margin-top: 70px;
}

.item-container {
    margin-top: 30px;
    border-top: 1px solid var(--item-border);
}

.item, .item-input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    font-size: 0.85em;
    border-bottom: 1px solid var(--item-border);
    gap: 18px;
    position: relative;
}

.item.done {
    opacity: 50%;
}

.item.done .text {
    text-decoration: line-through;
}

.item .tag {
    font-size: 0.7em;
    margin-left: 10px;
    border: 1px solid var(--item-tag);
    background-color: var(--item-tag);
    padding: 1px 3px;
    border-radius: 20px;
}

.add-item {
    color: grey;
    cursor: pointer;
    font-size: 0.85em;
    padding: 10px 30px;
    transition: all 0.3s;
}

.fa-plus-circle {
    transform: scale(1.2);
    margin-right: 10px;
}

.add-item:hover {
    color: var(--active);
}

.item .empty {
    flex-grow: 1;
}

.item .delete, .item .date, .item .edit {
    cursor: pointer;
    font-size: 0.8em;
}


.item-input-container input {
    background-color: var(--right-container);
    color: var(--title);
    cursor: pointer;
    outline: none;
}

.item-input-container input[type="text"] {
    border: none;
    flex: 1;
}

input[type="date"] {
    padding: 5px 10px;
    border: 1px solid var(--active);
    border-radius: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(100%);
}

.item-input-container .button {
    color: var(--active);
    cursor: pointer;
}

